<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ebara-pwa/web/

  # Redirect everything that isn't a file or directory to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
